<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>装饰公司</key>
		<string>jiazhuang_icon_zhuangshigongsi.png</string>
	</dict>
	<dict>
		<key>装修招标</key>
		<string>jiazhuang_icon_zhuangxiuzhaobiao.png</string>
	</dict>
	<dict>
		<key>设计师</key>
		<string>jiazhuang_icon_shejishi.png</string>
	</dict>
	<dict>
		<key>样板间</key>
		<string>jiazhuang_icon_yangbanjian.png</string>
	</dict>
	<dict>
		<key>窗帘布艺</key>
		<string>jiazhuang_icon_chuanglianbuyi.png</string>
	</dict>
	<dict>
		<key>家电版块</key>
		<string>jiazhuang_icon_jiadian.png</string>
	</dict>
	<dict>
		<key>家纺版块</key>
		<string>jiazhuang_icon_jiafang.png</string>
	</dict>
	<dict>
		<key>瓷砖版块</key>
		<string>jiazhuang_icon_cizhuan.png</string>
	</dict>
	<dict>
		<key>卫浴版块</key>
		<string>jiazhuang_icon_weiyu.png</string>
	</dict>
	<dict>
		<key>橱柜版块</key>
		<string>jiazhuang_icon_chugui.png</string>
	</dict>
	<dict>
		<key>地板版块</key>
		<string>jiazhuang_icon_diban.png</string>
	</dict>
	<dict>
		<key>木门版块</key>
		<string>jiazhuang_icon_mumen.png</string>
	</dict>
	<dict>
		<key>灯饰版块</key>
		<string>jiazhuang_icon_dengshi.png</string>
	</dict>
	<dict>
		<key>移门版块</key>
		<string>jiazhuang_icon_yimen.png</string>
	</dict>
	<dict>
		<key>吊顶版块</key>
		<string>jiazhuang_icon_diaoding.png</string>
	</dict>
	<dict>
		<key>家具版块</key>
		<string>jiazhuang_icon_jiaju.png</string>
	</dict>
</array>
</plist>
