<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>房产楼市</key>
		<string>zonghe_icon_fangchanloushi.png</string>
	</dict>
	<dict>
		<key>汽车天地</key>
		<string>zonghe_icon_auto.png</string>
	</dict>
	<dict>
		<key>餐饮美食</key>
		<string>zonghe_icon_canyin.png</string>
	</dict>
	<dict>
		<key>娱乐休闲</key>
		<string>zonghe_icon_xiuxianyule.png</string>
	</dict>
	<dict>
		<key>百货商场</key>
		<string>zonghe_icon_baihuoshangchang.png</string>
	</dict>
	<dict>
		<key>黄金珠宝</key>
		<string>zonghe_icon_huangjin.png</string>
	</dict>
	<dict>
		<key>客房宾馆</key>
		<string>zonghe_icon_binguan.png</string>
	</dict>
	<dict>
		<key>数码电器</key>
		<string>zonghe_icon_jiayongdianqi.png</string>
	</dict>
	<dict>
		<key>时尚服饰</key>
		<string>zonghe_icon_fushi.png</string>
	</dict>
	<dict>
		<key>家纺软饰</key>
		<string>zonghe_icon_jiafang.png</string>
	</dict>
	<dict>
		<key>音乐器材</key>
		<string>zonghe_icon_yinyueqicai.png</string>
	</dict>
	<dict>
		<key>电动自行车</key>
		<string>zonghe_icon_bycicle.png</string>
	</dict>
	<dict>
		<key>五金机电</key>
		<string>zonghe_icon_wujinjidian.png</string>
	</dict>
	<dict>
		<key>酒庄名茶</key>
		<string>zonghe_icon_meijiu.png</string>
	</dict>
	<dict>
		<key>婚庆影楼</key>
		<string>zonghe_icon_hunqin.png</string>
	</dict>
	<dict>
		<key>影视文化</key>
		<string>zonghe_icon_yingshiwenhua.png</string>
	</dict>
	<dict>
		<key>美容美发</key>
		<string>zonghe_icon_meifa.png</string>
	</dict>
	<dict>
		<key>体育健身</key>
		<string>zonghe_icon_tiyujianshen.png</string>
	</dict>
	<dict>
		<key>教育培训</key>
		<string>zonghe_icon_jiaoyupeixun.png</string>
	</dict>
	<dict>
		<key>投资理财</key>
		<string>zonghe_icon_touzilicai.png</string>
	</dict>
	<dict>
		<key>医疗保健</key>
		<string>zonghe_icon_yiliaobaojian.png</string>
	</dict>
	<dict>
		<key>旅游天地</key>
		<string>zonghe_icon_lvyou.png</string>
	</dict>
	<dict>
		<key>供求信息</key>
		<string>zonghe_icon_gongyin.png</string>
	</dict>
</array>
</plist>
